<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.helloJob.mapper.job.JobLogMapper">

    <select id="grid" resultType="com.helloJob.vto.JobLogVto" >
    select a.ID
          ,a.job_id jobId
          ,a.job_state jobState
          ,a.dt
          ,a.begin_time beginTime
          ,a.end_time endTime
          ,a.job_img jobImg 
          , b.job_name AS jobName
          , b.job_group AS jobGroup
     FROM job_log a
LEFT JOIN job_basic_info b
       ON a.job_id=b.id 
LEFT JOIN (SELECT distinct job_id
           FROM   `job_owner`
           WHERE  user_id = #{loginUserId} ) t6
  ON a.job_id = t6.job_id 
       
where 1=1
       AND ( b.creater = #{loginUserId}  OR t6.job_id IS NOT NULL ) 
  <if test=" jobId != null "> <![CDATA[  
    	and a.job_id =#{jobId}
     ]]></if>
     <if test=" dt != null "> <![CDATA[  
    	and a.dt like concat('%',#{dt},'%')
     ]]></if>
      <if test=" jobState != null and jobSate !='' "> <![CDATA[  
    	and a.job_state =#{jobState}
     ]]></if>
     <if test=" jobName != null and jobName !='' "> <![CDATA[  
    	and b.job_name  like concat('%',#{jobName},'%')
     ]]></if>
     <if test=" jobGroup != null and jobGroup !='' "> <![CDATA[  
    	and b.job_group  like concat('%',#{jobGroup},'%')
     ]]></if>
    </select> 
    
    
  <update id="updateRunningToError"><![CDATA[  
  UPDATE job_log SET job_state='失败',`log`=CONCAT('<div style="color:red">系统重启，将中断运行的作业置为失败！</div><br>',`log`)
    ,end_time = DATE_FORMAT(NOW(), '%Y-%m-%d %H:%i:%s') 
  	 WHERE job_state ='执行中'
  ]]> </update>
<select id="getRunningJobIds" resultType="string"  >
    		select id from job_log  where job_state='执行中' and dt = #{dt} and job_id in 
  <foreach collection="jobIds" index="index" item="jobId" open="(" separator="," close=")">  
            #{jobId}  
        </foreach>
    </select>
    <select id="getJobState" resultType="string"  >
    		select job_state from job_log  where job_id=#{jobId}   and dt = #{dt} order by begin_time desc limit 1 
    </select>
</mapper>